.git
.gitignore
node_modules
**/node_modules
**/.output
**/.vinxi
**/dist
*.log
.env*
!.env.example
.DS_Store
Thumbs.db
*.md
!README.md
tests
**/*.test.ts
**/*.spec.ts
coverage
.nyc_output
.vscode
.idea
*.tsbuildinfo
